<h1>Hello, Duniya!</h1>
<!-- <hotelinventory-rooms></hotelinventory-rooms> -->

<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'Admin'">
    </div>
    <div *ngSwitchCase="'user'">Welcome! User.</div>
    <div *ngSwitchDefault>You are not authorized to view this page.</div>
</div> -->

<hotelinventory-container>
    <hotelinventory-rooms></hotelinventory-rooms>
    <hotelinventory-employee></hotelinventory-employee>
    <h1>This is from ng-container</h1>
</hotelinventory-container>

<!--  Loading components dynamically -->
<!-- <div>
    <ng-template #user>
    </ng-template>
</div> -->