<!-- <h1>Welcome to {{ hotelName }}</h1> -->
<hotelinventory-header [title]="title"></hotelinventory-header>
<hotelinventory-header [title]="title"></hotelinventory-header>
<hotelinventory-header [title]="title"></hotelinventory-header>
<hotelinventory-header [title]="title"></hotelinventory-header>
<button (click)="toggle()">Toggle</button>
<div [hidden]="hideRooms">
  Number of rooms available
  <div
    [innerText]="numberOfRooms"
    [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
  ></div>
</div>

<!-- {{ rooms?.availableRooms ?? "No rooms" }} -->

<!-- {{rooms | json}}} Should not be used on production only for debugging purpose -->
<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>
<div>
  <button (click)="addRoom()">Add Room</button>
</div>
<div *ngIf="rooms?.availableRooms == 0">No Rooms Available</div>

<!-- <div *ngIf="rooms?.availableRooms"> -->
<div *ngIf="hideRooms">
  <hotelinventory-rooms-list [rooms]="roomList" [title]="title"(selectedRoom)="selectRoom($event)"></hotelinventory-rooms-list>
</div>

<hotelinventory-employee></hotelinventory-employee>


<!-- '*' are stuctural directives. They can modify DOM. -->
