<h1>Welcome to {{ hotelName }}</h1>
<button (click)="toggle()">Toggle</button>
<div [hidden]="hideRooms">
  Number of rooms available
  <div
    [innerText]="numberOfRooms"
    [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
  ></div>
</div>

{{ rooms?.availableRooms ?? "No rooms" }}

<!-- {{rooms | json}}} Should not be used on production only for debugging purpose -->
<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>
<div *ngIf="rooms?.availableRooms == 0">No Rooms Available</div>

<div *ngIf="rooms?.availableRooms">
  <hotelinventory-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></hotelinventory-rooms-list>
</div>


<!-- '*' are stuctural directives. They can modify DOM. -->
